---
import BaseLayout from "../components/layout/BaseLayout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Expertise from "../components/sections/Expertise.astro";
import DashboardTypes from "../components/sections/DashboardTypes.astro";
import PowerBI from "../components/sections/PowerBI.astro";
import Python from "../components/sections/Python.astro";
import Skills from "../components/sections/Skills.astro";
import ITTools from "../components/sections/ITTools.astro";
import Certificates from "../components/sections/Certificates.astro";
import Contact from "../components/sections/Contact.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Expertise />
    <DashboardTypes />
    <PowerBI />
    <Python />
    <Skills />
    <ITTools />
    <Certificates />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
